<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ScrobbleMapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  
    <system.serviceModel>
      <behaviors>
        <endpointBehaviors>
          <behavior name="WebBehavior">
            <webHttp/>
          </behavior>
        </endpointBehaviors>
      </behaviors>
      <bindings>
        <!-- This binding makes WCL operations faster by allowing a larger buffer -->
        <webHttpBinding>
          <binding name="LargeResponseWebHttpBinding" maxReceivedMessageSize="16777216"/>
        </webHttpBinding>
      </bindings>
      <client>
        <endpoint name="LastFmClientEndPoint" behaviorConfiguration="WebBehavior" bindingConfiguration="LargeResponseWebHttpBinding" address="http://ws.audioscrobbler.com/2.0/" binding="webHttpBinding" contract="ScrobbleMapper.LastFm.ILastFmApi"/>
      </client>
      <!-- address="http://ws.audioscrobbler.com/2.0/" -->
      <!-- address="http://localhost/lastfm" -->
    </system.serviceModel>
  
    <userSettings>
        <ScrobbleMapper.Properties.Settings>
            <setting name="MinimumEditDistance" serializeAs="String">
                <value>0.5</value>
            </setting>
        </ScrobbleMapper.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
